<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보 수정</title>
    <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/base_gnb.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/edit_user.css" />
</head>
<body>
    {% extends 'base_gnb.html' %}
    {% block content %}
    <div class = "wrap02">
        <div class = "edit_form">
            <h1>회원 정보 수정</h1>
            <form action="{% url 'edit_user' %}" method="POST">
                {% csrf_token%}
                <div>
                    <label for="id_username">아이디</label>
                    <input type="text" name="username" value="{{ user.username }}" maxlength="150" required="" id="id_username">
                    <div class="helptext01">150 characters or fewer. Letters, digits and @/./+/-/_ only.</div>
                </div>
                <div>
                    <label for="id_nickname">닉네임</label>
                    <input type="text" name="nickname" value="{{ user.nickname }}" maxlength="100" required="" id="id_nickname">
                </div>
                <div>
                    <label for="id_location">위치</label>
                    <input type="text" name="location" value="{{ user.location }}" maxlength="200" required="" id="id_location">
                </div>
                <button type="submit">제출</button>
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>