@font-face {
  font-family: "Pretendard-Regular";
  font-style: normal;
  src: local("※"),
    url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css")
      format("woff");
  unicode-range: U+AC00- U+D7A3;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  min-width: 1000px;
  background-color: #f6f6f6;
  margin: 0;
}

.wrap02 {
  padding-top: 130px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.singup_form {
  width: 400px;
  text-align: center;
}
.singup_form > h1 {
  text-align: center;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 50px;
}
.newform_wrap {
  text-align: left;
  width: 100%;
}
label {
  font-family: "Pretendard-Regular";
  font-size: 15px;
}
input {
  width: 100%;
  height: 37px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid lightgrey;
  font-family: "Pretendard-Regular";
  font-size: 18px;
}
input:focus {
  border: 1px solid rgb(78, 78, 78);
}
button {
  margin-top: 30px;
  border: none;
  width: 110px;
  height: 60px;
  font-family: "Pretendard-Regular";
  font-size: 18px;
  color: white;
  background-color: rgb(66, 218, 192);
  transition: 0.2s;
}
button:hover {
  border-radius: 100%;
  background-color: rgb(66, 162, 218);
}
.helptext01 {
  margin-bottom: 20px;
  font-family: "Poppins", "Pretendard-Regular";
  font-size: 12px;
  font-weight: 400;
  color: rgb(121, 121, 121);
}
.helptext02 {
  margin-bottom: 20px;
  font-family: "Poppins", "Pretendard-Regular";
  font-size: 12px;
  font-weight: 400;
  color: rgb(121, 121, 121);
}
